.Table_Border_black {
border-top:1px solid #C0C0C0;
       border-left:1px solid #C0C0C0;
       border-right:1px solid #C0C0C0;
       border-bottom:1px solid #C0C0C0;
	   background-color:#FFFFFF;
	   	}
.Table_Title_black
		{font-weight: bold;
		font-size: 13px;			
		color: #000000;			
		font-style: normal;			
		font-family: Verdana, Arial, Helvetica, sans-serif;	
		text-decoration: none;
		background-color:#C0C0C0}

.error_font_red
	{	font-weight: normal;
		font-size: 12px;			
		color: #FF0000;			
		font-style: normal;			
		font-family: Verdana, Arial, Helvetica, sans-serif;	
		text-decoration: none;
	}

.Column_Head_black
	   {font-weight: bold;
		font-size: 11px;			
		color: #000000;			
		font-style: normal;			
		font-family: Verdana, Arial, Helvetica, sans-serif;	
		text-decoration: none;}
.Under_Border_black 
      {  
	    border-right:1px solid #C0C0C0;
	    border-bottom:1px solid #C0C0C0;
      }
.Under_Border_only_black 
      {  
	    border-bottom:1px solid #C0C0C0;
      }

.site_font_black
	{	font-weight: normal;
		font-size: 10px;			
		color: #000000;			
		font-style: normal;			
		font-family: Verdana, Arial, Helvetica, sans-serif;	
		text-decoration: none;
	}
.small_site_font_black{font-weight: normal;
		font-size: 9px;			
		color: #000000;			
		font-style: normal;			
		font-family: Verdana, Arial, Helvetica, sans-serif;	
		text-decoration: none;}

.site_link_black				{font-weight: normal;		font-size: 10px;			color: #C0C0C0;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.site_link_black:link			{font-weight: normal;		font-size: 10px;			color: #C0C0C0;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.site_link_black:visited		{font-weight: normal;		font-size: 10px;			color: #C0C0C0;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.site_link_black:hover			{font-weight: normal;		font-size: 10px;			color: #ff6600;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}


.small_error_font_red{font-weight: normal;
		font-size: 10px;			
		color: #FF0033;			
		font-style: normal;			
		font-family: Verdana, Arial, Helvetica, sans-serif;	
		text-decoration: none;}

.left_link				{font-weight: normal;		font-size: 10px;			color: #999999;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.left_link:link			{font-weight: normal;		font-size: 10px;			color: #999999;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.left_link:visited		{font-weight: normal;		font-size: 10px;			color: #999999;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.left_link:hover			{font-weight: bold;		    font-size: 10px;			color: #400000;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}

.pagination_link				{font-weight: normal;		font-size: 10px;			color: #400000;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.pagination_link:link			{font-weight: normal;		font-size: 10px;			color: #400000;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.pagination_link:visited		{font-weight: normal;		font-size: 10px;			color: #400000;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.pagination_link:hover			{font-weight: bold;		    font-size: 10px;			color: #ff6600;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}

.template_selection_link				{font-weight: normal;		font-size: 12px;			color: #400000;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.template_selection_link:link			{font-weight: normal;		font-size: 12px;			color: #400000;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.template_selection_link:visited		{font-weight: normal;		font-size: 12px;			color: #400000;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.template_selection_link:hover			{font-weight: bold;		    font-size: 12px;			color: #ff6600;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}

.pagination_combo_text
		{font-weight: normal;
		font-size: 9px;			
		color: #000000;
		font-style: normal;			
		font-family: Verdana, Arial, Helvetica, sans-serif;	
		text-decoration: none;}

.text_box_button
		{font-weight: normal;
		font-size: 9px;			
		color: #000000;
		font-style: normal;			
		font-family: Verdana, Arial, Helvetica, sans-serif;	
		text-decoration: none;
        
		border-top:1px solid #A0A0A0;
        border-left:1px solid #A0A0A0;
        border-right:1px solid #A0A0A0;
        border-bottom:1px solid #A0A0A0;
		background-color:#FFFFFF;
		}

.top_link				{font-weight: bold;		font-size: 11px;			color: #FFFFFF;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.top_link:link			{font-weight: bold;		font-size: 11px;			color: #FFFFFF;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.top_link:visited		{font-weight: bold;		font-size: 11px;			color: #FFFFFF;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
a.top_link:hover			{font-weight: bold;		    font-size: 11px;			color: #FFFFCC;			font-style: normal;			font-family: Verdana, Arial, Helvetica, sans-serif;			text-decoration: none; line-height: 14px;}
