.DepartmentListHead
{      
  border-right: #01a647 1px solid;
  border-top: #01a647 1px solid;
  border-left: #01a647 1px solid;
  border-bottom: #01a647 1px solid;
  background-color: #30b86e;
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 10pt;
  color: #f5f5dc;
  padding-left: 3px;
  text-align: center;
}
.DepartmentListContent
{
  border-right: #01a647 1px solid;
  border-top: #01a647 1px solid;
  border-left: #01a647 1px solid;
  border-bottom: #01a647 1px solid;
  background-color: #9fe1bb;
  text-align: center;
}
a.DepartmentUnselected
{      
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 9pt;
  color: #5f9ea0;
  line-height: 25px;                              
  padding-left: 5px;                              
  text-decoration: none;
}                
a.DepartmentUnselected:hover                      
{                
  padding-left: 5px;                              
  color: #2e8b57;
}                
a.DepartmentSelected                              
{                
  font-family: Verdana, Arial;                    
  font-weight: bold;                              
  font-size: 9pt;
  color: #556b2f;
  line-height: 25px; 
  padding-left: 5px;
  text-decoration: none;
}

.CategoryListHead
{
  border-right: #ea6d00 1px solid;
  border-top: #ea6d00 1px solid;
  border-left: #ea6d00 1px solid;
  border-bottom: #ea6d00 1px solid;
  background-color: #ef8d0e;
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 10pt;
  color: #f5f5dc;
  text-align: center;
}
.CategoryListContent
{
  border-right: #ea6d00 1px solid;
  border-top: #ea6d00 1px solid;
  border-left: #ea6d00 1px solid;
  border-bottom: #ea6d00 1px solid;
  background-color: #f8c78c;
  text-align: center;
}
a.CategoryUnselected
{
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 9pt;
  color: #cd853f;
  line-height: 25px;
  padding-right: 5px;
  padding-left: 5px;
  text-decoration: none
}

a.CategoryUnselected:hover
{
  color: #d2691e;
  padding-right: 5px;
  padding-left: 5px
}
a.CategorySelected
{
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 9pt;
  color: #a0522d;
  line-height: 25px;
  padding-right: 5px;
  padding-left: 5px;
  text-decoration: none
}

a.ProductName
{
  color: Red;
  font-family: 'Trebuchet MS';
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}
a.ProductName:hover
{
  text-decoration: underline;
}
.ProductDescription
{
  color: Black;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 11px;
}
.ProductPrice
{
  color: Black;
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
}
.PagingText
{
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 11px;
  color: Black;
}

.CategoryListHead
{
  border-right: #ea6d00 1px solid;
  border-top: #ea6d00 1px solid;
  border-left: #ea6d00 1px solid;
  border-bottom: #ea6d00 1px solid;
  background-color: #ef8d0e;
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 10pt;
  color: #f5f5dc;
  text-align: center;
}
.CategoryListContent
{
  border-right: #ea6d00 1px solid;
  border-top: #ea6d00 1px solid;
  border-left: #ea6d00 1px solid;
  border-bottom: #ea6d00 1px solid;
  background-color: #f8c78c;
  text-align: center;
}
a.CategoryUnselected
{
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 9pt;
  color: #cd853f;
  line-height: 25px;
  padding-right: 5px;
  padding-left: 5px;
  text-decoration: none
}

a.CategoryUnselected:hover
{
  color: #d2691e;
  padding-right: 5px;
  padding-left: 5px
}
a.CategorySelected
{
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 9pt;
  color: #a0522d;
  line-height: 25px;
  padding-right: 5px;
  padding-left: 5px;
  text-decoration: none
}

.CatalogTitle
{
  color: red;
  font-family: 'Trebuchet MS', Comic Sans MS, Arial;
  font-size: 24px;
  font-weight: bold;
}
.CatalogDescription
{
  color: Black;
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.SearchBoxHead
{
  border-right: #0468a4 1px solid;
  border-top: #0468a4 1px solid;
  border-bottom: #0468a4 1px solid;
  border-left: #0468a4 1px solid;
  background-color: #0583b5;
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 10pt;
  color: #f5f5dc;
  text-align: center;
}
.SearchBoxContent
{
  border-right: #0468a4 1px solid;
  border-top: #0468a4 1px solid;
  border-left: #0468a4 1px solid;
  border-bottom: #0468a4 1px solid;
  background-color: #8bc8dd;
  font-family: Arial, Verdana;
  font-size: 9pt;

  color: blue;
  padding-top: 5px;
  padding-left: 12px;
  padding-bottom: 5px;
}
.SearchBox
{
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 9pt;
  margin-bottom: 5px;
}

.UserInfoHead
{
  border-right: #cc6666 1px solid;
  border-top: #cc6666 1px solid;
  border-left: #cc6666 1px solid;
  border-bottom: #cc6666 1px solid;
  background-color: #dc143c;
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 10pt;
  color: #f5f5dc;
  padding-left: 3px;
  text-align: center;
}
.UserInfoContent
{
  border-right: #cc6666 1px solid;
  border-top: #cc6666 1px solid;
  border-left: #cc6666 1px solid;
  border-bottom: #cc6666 1px solid;
  background-color: #ffcccc;
  text-align: center;
}
.UserInfoText
{
  font-family: Verdana, Arial;
  font-size: 9pt;
  padding-left: 5px;
  text-decoration: none;
}
a.UserInfoLink
{
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 9pt;
  color: #ed486d;
  line-height: 15px;
  padding-left: 5px;
  text-decoration: none;
}

a.UserInfoLink:hover
{
  padding-left: 5px;
  color: #dc143c;
}
.Button
{
  color: Black;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12px;
}
.AdminTitle
{
  color: Black;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  line-height: 25px;
}
.AdminPageText
{
  color: Navy;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 12px;
}
a.AdminPageText
{
  color: Navy;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 12px;
}
a.AdminPageText:hover
{
  color:Red;
}

.Grid
{
  border-color: #E7E7FF;
  width: 100%;
}
.GridHeader
{
  color: White;
  background-color: Navy;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 11px;
  text-align: left;
}
.GridRow
{
  color: Navy;
  background-color: #E7E7FF;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 11px;
  text-align: left;
}
.GridEditingRow
{
  color: Navy;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 11px;
  text-align: left;
}
.GridAlternateRow
{
  color: Navy;
  background-color: #F7F7F7;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 11px;
  text-align: left;
}

.SmallButtonText
{
  color: Black;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10px;
}

.CartSummary
{
  border-right: #0468a4 2px solid;
  border-top: #0468a4 2px solid;
  border-left: #0468a4 2px solid;
  border-bottom: #0468a4 2px solid;
  background-color: snow;
  font-family: Arial;
  font-size: 9pt;
  color: Navy;
  padding-top: 3px;
  padding-left: 2px;
  padding-bottom: 5px;
}
a.CartLink
{
  color: Black;
  font-family: Arial;
  text-decoration: none;
  font-size: 12px;
}
a.CartLink:hover
{
  color: Red;
}

.ShoppingCartTitle
{
  color: Red;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 16px;
}

.AdminErrorText
{
  font-weight: bold;
  font-size: 12px;
  color: red;
  font-style: italic;
  font-family: Verdana, Helvetica, sans-serif;
}



.RecommendationHead
{
  color: Black;
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
}
.RecommendationText
{
  color: Black;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10px;
}
.RecommendationLink
{
  color: Black;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: underline;
  font-size: 10px;
}
a.RecommendationLink:hover
{
  color: Red;
}



