﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Bi4Mi.master" AutoEventWireup="true" CodeFile="ContactUs.aspx.cs" Inherits="ContactUs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
        Our Address<br />
        34 Old Stick Road<br />
        The Valley #03-45<br />
        Singapore 673093</p>
    <p>
        Email: sales@bi4mi.com<br />
    </p>
</asp:Content>

