﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Bi4Mi.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .style6
        {
            font-weight: bold;
        }
        .style7
        {
            font-weight: normal;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <h4 class="style7">
        <font face="helvetica,">Are you shopping online for the sexiest bikinis and 
        women&#39;s lingerie? Do you want to buy bikinis online and buy discounted lingerie 
        brands on sale too? Then you&#39;ve come to the right place! We always have new 
        bikini sales and lingerie sales going on.</font></h4>
    <p>
        <font face="helvetica,">Here at Bi4Mi<small><sup>TM</sup></small>, we have the 
        very best women&#39;s bikini fashion at the most reasonable price! We&#39;re always up 
        with new and exciting designs that you won&#39;t find in stores. The amazing 
        quality, comfort, and style of our bikinis will make you look and feel your very 
        best on the beach, at the pool, or on the stage! </font>
    </p>
    <p>
        <font face="helvetica,">Excellent customer service, careful packaging and fast 
        shipping are our main priorities. We want you to have a great online Bikini 
        Shopping experience!</font></p>
    <h4>
    </h4>
    <h5>
    </h5>
    <h3>
    </h3>
    <p>
        &nbsp;</p>
</asp:Content>

