﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Bi4Mi.master" AutoEventWireup="true" CodeFile="Members.aspx.cs" Inherits="Members" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
        How to become a member<br />
        All you have got to do is spend a min $150 in a year and you would be awarded 
        membership to Bi4Mi.<br />
        A membership card would be posted to you with a membership number.<br />
        <br />
        Benefits<br />
        Extra discounts would be given to you. Non-members get 15% discount. However you 
        members would be receiving 30% discount. Early notifications of events and also 
        special promotions only valid for you.<br />
        <br />
        Member&#39;s Promotion: Special prices on bikinis<br />
        <br />
</p>
</asp:Content>

