﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Bi4Mi.master" AutoEventWireup="true" CodeFile="OurBikinis.aspx.cs" Inherits="OurBikinis" %>

<%@ Register assembly="System.Web.Silverlight" namespace="System.Web.UI.SilverlightControls" tagprefix="asp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
        Bikinis<br />
        Browse through our wide range of bikinis. From colourful patters to sexy lucious 
        designs, all right before you.Satisfy your needs and buy them now. For those who 
        want to customize their bikini please scroll down.
    </p>
                            <p>
        <br />
        Customise your own Bikini<br />

        <object data="data:application/x-silverlight," type="application/x-silverlight-2" 
        style="height: 480px; width: 650px; margin-left: 0px">
	<param name="source" value="ClientBin/BikiniCustomiseApp.xap"/>
	<param name="onerror" value="onSilverlightError" />
	<param name="background" value="black" />
	<param name="minRuntimeVersion" value="2.0.31005.0" />
	<param name="autoUpgrade" value="true" />
	<a href="http://go.microsoft.com/fwlink/?LinkID=124807" style="text-decoration: none;">
    	<img src="http://go.microsoft.com/fwlink/?LinkId=108181" alt="Get Microsoft Silverlight" style="border-style: none"/>
	</a>
</object>
        <br />
    </p>
</asp:Content>

