﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Bi4Mi.master" AutoEventWireup="true" CodeFile="Promotions.aspx.cs" Inherits="Promotions" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
        This Week&#39;s Specials</p>
    <p>
        Here are our special bikinis of the week. Check out these outrageously low 
        priced bikinis while stocks last. Only this week!<br />
        </p>
</asp:Content>

