﻿<%@ Page Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="CatalogAdmin.aspx.cs" Inherits="CatalogAdmin" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <span class="AdminTitle">Catalog Admin</span>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <p>
    <asp:PlaceHolder ID="adminPlaceHolder" runat="server"></asp:PlaceHolder>
</p>
</asp:Content>

