<%@ Page Language="C#" MasterPageFile="~/BalloonShop.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" Title="Welcome to BalloonShop!" %>
<%@ Register src="UserControls/ProductsList.ascx" tagname="ProductsList" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="contentPlaceHolder" Runat="Server">
    <br />
  <span class="CatalogDescription">This week we have a special price
 for these fantastic products: </span>
  <br />
  <uc1:ProductsList ID="ProductsList1" runat="server" />
&nbsp;
</asp:Content>

